.task-tree-container {
  border: 1px solid gray;
  border-radius: 10px;

  background-color: white;
  padding: 10px;

  max-height: 100%;
  height: 100%;
  width: auto;

  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
