.task-tree-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.task-tree-item-active {
  border-radius: 5px;
  background-color: var(--bs-primary);
  color: var(--bs-light);
}

.task-tree-item-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-tree-item-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-tree-item-checkmark-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-tree-child-container {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid lightgray;
}
